.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
} */

.App-link {
  color: #61dafb;
}

main {
  padding-top: 20px;
  background-image: url('../public/Images/Desktop.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #1b083d;
  min-height: 100vh;
  color: white;
}

footer {
  min-height: 100px;
  background-color: #1b083d;
}

.zone-container {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.creation-zone {
  position: absolute;
  /* background-color: white; */
  width: 600px;
  height: 600px;
  left: 20px;
}

.options-zone {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.100);
  width: 690px;
  height: 140px;
}

.options-container {
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  height: 140px;
  margin-top: 700px;
  margin-bottom: 60px;
}

.pumpkin {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  min-height: 600px;
  max-height: 600px;
}

.eyes {
  position: absolute;
  bottom: 150px;
  left: 175px;
  z-index: 2;
}

.nose {
  position: absolute;
  bottom: 90px;
  left: 175px;
  z-index: 2;
}

.mouth {
  position: absolute;
  bottom: 30px;
  left: 175px;
  z-index: 2;
}

.option-button {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.100);
  display: inline-flex;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  position: relative;
}

.option-button:hover {
  background-color: rgba(255, 255, 255, 0.500);
}

.no-margin {
  position: absolute;
  height: 48px;
  width: 100px;
  margin: 0;
  padding: 0;
  line-height: 48px;
  top: 52px;
}

.features {
  position: absolute;
  top: 10px;
  width: 100px;
  height: 52px;
}

/* #canvas {
  position: relative;
  border: 3px solid green;
} */